.footer {
  padding: 50px 0;

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 115px;
  }

  &__list {
    list-style-type: none;
    &-item {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #E4E4E4;
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: #E4E4E4;
    transition: .6s;
    &:hover {
      color: #E2A100;
    }
  }

  &__form {
    width: 300px;
    position: relative;
    &-input {
      width: 100%;
      padding: 20px 15px;
      border: 1px solid #00C4F0;
      border-radius: 8px;
      outline: none;
      background: transparent;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #E2A100;
      &::placeholder {
        color: #E2A100;
      }
    }
    &-btn {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      padding: 12px;
      background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);border-radius: 6px;
      border: none;
      cursor: pointer;
      font-family: "Avenir Next Cyr", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      color: #2C2C2C;
    }
  }

  &__up {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

}