@import "../libs/owl-carousel/owl.carousel.min.css";
@import "../libs/owl-carousel/owl.theme.default.min.css";
@import "../fonts/montserrat/stylesheet.css";
@import "../fonts/avenir/stylesheet.css";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  background: #414141;

}

a {
  text-decoration: none;
}




@import "header";
@import "home";
@import "skills";
@import "about";
@import "porfolio";
@import "footer";

